{% extends 'components/layout/default.html.twig' %}

{% block content %}
<div class="panel">
    <div class="flex justify-between">
        <h1>Ajouter un nouveau service</h1>
        <a href="{{ path('app_service_index') }}" class="btn btn-primary btn-sm">Voir la liste</a>

    </div>

    <div class="table-responsive mt-2">
        <hr>
        {{ include('service/_form.html.twig') }}

    </div>
</div>

{% endblock %}
